@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// RESPONSIVE

@mixin grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 3rem; /* gap between items */
}

@mixin grid-1-col {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columns */
  gap: 3rem; /* gap between items */
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 1800px) {
      @content;
    }
  }
}
