$colorPrimary: #4f4b65;
$colorSecondary: #2e2a41;
$colorLightPurple: #7e7fa0;
$colorDarkPurple: #2d2a3e;
$colorDarkBlue: #5e68f9;
$btn-2: #20e5a7;
$btn-1: #616ae8;
$textBoxStyle-1: #fbe9e9;
$textBoxStyle-2: #e7faf9;
$textBoxStyle-3: #fdf0e7;
$textBoxStyle-4: #e7effb;
$sectionStyle-1: #f0f9fe;
$liColor: #525159;

$featureSection: #fcf3ec;
$fontPrimary: "Manrope", sans-serif;

// GRID
$grid-width: 114rem;
